.moving-text {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    position: relative;
    margin-bottom: 2rem;
    animation: moveBackAndForth 3s ease-in-out infinite;
}
@keyframes moveBackAndForth {
    0%, 100%{
        left: 0;
    }
    50%{
        left: 100px;
    }
}

.fade-in-out{
    text-align: center;
    color: #111;
    font-size: 29px;
    font-weight: 400;
    opacity: 0;
    animation: fadeInOut 1s infinite;
}
@keyframes fadeInOut {
    0%, 100%  {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
.parallax-container{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.parallax-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.parallax-text{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

.parallax-container::before{
    content: "";
    background-image: url(hot.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: parallax 10s linear infinite;
}
@keyframes parallax{
    0%, 100%{
        transition: translatey(0);
    }
    50%{
        transform: translatey(-10%);
    }
}