/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header{
    color: #32CD32;
    padding: 10px;
    height: 10vh;
    background-color: #087f5b;
    text-align: center;
    }

    nav ul{
        list-style: none;
    }

    nav li{
        display: inline;
        margin: 0 15px;
        margin-top:1rem;
    }

    nav a{
        color: #000;
        font-size: 30px;
        font-weight: 500;
        text-decoration: none;
    }

    .moving-text{
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        position: relative;
        margin-top: 2rem;
        animation: moveBackAndForth 3s ease-in-out infinite;
    }

    @keyframes moveBackAndForth{
        0%, 100% {
            left:0;
            color: #087f5b;
        }
    

    50% {
        left:100px;
        color:#087f5b;
    }

}

.fade-in-out{
    text-align: center;
    color: #4B0082;
    font-size: 29px;
    font-weight: 400;
    opacity: 0;
    animation: fadeInOut 1s  infinite;
}

@keyframes fadeInOut {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.parallax-container{
    height:100vh;
    overflow: hidden;
    position: relative;
}

.parallax-content{
    position: absolute;
    top:50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    text-align: center;
}

.parallax-container::before{
    content:"";
    background-image: url('./images/burning.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: parallax 10s linear infinite;
}

@keyframes parallax{
    0%, 100% {
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10%);
    }
}

.parallax-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

.products{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.product{
    border:none;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.product {
    width:50% ;
}

.product-text{
    font-size: 20px;
    color: #2F4f4F;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    font-weight: 300;
}

.product-price{
    color: red;
    font-size: 20px;
    font-weight: 500;
}

.product-heading{
    color: #008B8B;
    font-size: 25px;
    font-weight: 600;
}

.cart-button{
    border:none;
    width: 189px;
    background-color: #087f5b;
    border-radius: 10px;
    height: 50px;
    color: #fff;
    cursor:pointer;
    padding: 10px;
    font-size: 18px;
}

.cart-button:hover{
    background-color:#3aaa88;
    color: #000;
}

.btn-ghost{
    width:200px;
    border:none;
    background-color: #fff;
    color: #fff;
    font-size: 2opx;
    font-weight: 400;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px;
    animation: colorChange 3s infinite;
}

.btn-link{
    width: 200px;
    border: none;
    background-color: #fff;
    color:#fff;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    animation: colorChange 3s infinite;
}

.parallax-heading{
    color: #32CD32;
    font-size: 30px;
    font-weight: 700;
}

.parallax-copy{
    color: #32CD23;
    font-size: 25px;
    font-weight: 400;
}

@keyframes colorChange{
    0%, 100%{
        background-color: blue;
    }

    50%{
        background-color: red;
    }
}

.stores{
    background-color: rgb(161, 223, 232);
    padding: 60px;
}

.stores-heading{
    color: #5c5959;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.stores-copy{
    text-align: center;
    color: #5c5959;
    font-size: 24px;
    font-weight: 400;
}

.stores-discount{
    color:#800000;
    font-size: 20px;
    font-weight: 400;
}

.flex-stores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
}

.img{
    width: 200px;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
    animation: spin 3s infinite;
}

@keyframes spin{
    0%{
        transform:rotateY(0deg);
    }
    100%{
        transform:rotateY(360DEG);
    }
}

.text{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #008080;
    margin-top: 2rem;
}

.img-1{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    object-fit:cover;
}

.img-2{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    object-fit:cover;
}


.hood{
    background-color: rgb(164, 214,221);
    padding:60px;
}

.main-footer{
    background-color: rgb(153, 164, 168);
    padding:60px;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 1.5rem;
}

.footer-anchor{
    text-decoration: none;
    color: blue;
    font-size: 25px;
    font-weight: 500;
}

.footer-anchor:hover{
    background-color: gray;
    color: tomato;
}


